.wg-calc {
	& {
		// margin: 15% 25%; // if using as production, you should remove this line
		@extend %flex-row-wrap-center;
		width: _width(4) + ($CALC_KEY_GAP * 10);
		height: _height(7) + ($CALC_KEY_GAP * 10);
		border: 1px solid #343434;
		border-radius: $CALC_RADIUS;
		@include variant;
	}

	&__display {
		display: block;
		@include box(4, 2);
		padding: 0 10px;
		@include font($CALC_FONT--input, 45px, 'thin');
		text-align: right;
		@include variant(transparent);

		border: 0;
		padding-top: 28px;
	}

	&__pad {
		@extend %flex-row-wrap-center;
		width: _width(4) + ($CALC_KEY_GAP * 8);
		height: _height(5) + ($CALC_KEY_GAP * 10);
	}

	&__side {
		@extend %flex-column-wrap-center;
		@include box(4, 5);
		&--left {
			width: _width(3) + ($CALC_KEY_GAP * 6);
			margin-right: $CALC_KEY_GAP * 1;
		}
		&--right {
			margin-left: $CALC_KEY_GAP * 1;
			width: _width(1);
		}
	}

	&__bar {
		&--miscs {
			@extend %flex-row-wrap-center;
			width: _width(3) + ($CALC_KEY_GAP * 9);
			height: _height(1);
			margin-bottom: $CALC_KEY_GAP * 2;
		}
		&--numeric {
			margin-top: $CALC_KEY_GAP;
			@extend %flex-row-wrap-center;
			width: _width(3) + ($CALC_KEY_GAP * 9);
			height: _height(4);
		}
		&--function {
			margin-left: $CALC_KEY_GAP * -1;
			@extend %flex-column-wrap-center;
			width: _width(1);
			height: _height(5) + ($CALC_KEY_GAP * 3);
		}
	}

	&__key {
		width: $CALC_KEY_WIDTH;
		height: $CALC_KEY_HEIGHT;
		margin-top: $CALC_KEY_GAP;
		@include font($CALC_FONT--input, 22px);
		&--misc {
			@include variant($CALC_COLOR--misc, $--body-fg);
			@include font($CALC_FONT--key, 20px);
			margin-left: $CALC_KEY_GAP;
			&:active {
				@include variant(darken($CALC_COLOR--misc, 15%));
			}
		}
		&--number {
			@include variant($CALC_COLOR--num, $--body-fg);
			@include font($CALC_FONT--key, 22px);
			margin-left: $CALC_KEY_GAP;
			&:active {
				@include variant(darken($CALC_COLOR--num, 15%), $--body-fg);
			}
		}
		&--function {
			@include variant($CALC_COLOR--func);
			@include font($CALC_FONT--input, 25px);
			&:active {
				@include variant(darken($CALC_COLOR--func, 15%));
			}
		}

		&[data-key='0'] {
			width: _width(2) + ($CALC_KEY_GAP * 2);
			border-bottom-left-radius: $CALC_RADIUS;
			padding-left: 24px;
			text-align: left;
		}
		&[data-key='point'] {
			font-size: 32px;
		}
		&[data-key='equal'] {
			border-bottom-right-radius: $CALC_RADIUS;
		}

		&--number:nth-of-type(3n + 3),
		&--number:last-child {
			margin-right: 0;
		}
		&--function:first-child {
			margin-top: $CALC_KEY_GAP * -1;
			margin-bottom: $CALC_KEY_GAP * 1;
		}
		&--function {
			margin-right: 1px;
		}
		&--function:last-child {
			margin-bottom: -2px;
		}
	}
}
